#weather_div {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin: auto;
}

#div1
{
    margin:7px;
    padding:5px;
    background-color: #6b6a6a;   
}

body
{
    background-image:url("https://img.freepik.com/free-photo/black-clouds-before-storm_35691-2480.jpg?w=740");
    background-repeat: no-repeat;
    /* width:100%; */
    background-size: cover;
}

h1
{
    color:aqua;
}

input
{
    width:30%;
    height:32px;
    margin:10px;
    border-radius: 10px;
    border:10px solid greenyellow ;
    outline :5px solid aquamarine;
    outline-offset:-5px;
}

button
{
        width: 15%;
        height: 50px;
        margin: 10px;
        color:brown;
        font-size: medium;
        font-family:Fantasy;
        
}

h2
{
    color:bisque
}

#p1
{
    font-size: 15px;
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#p2 {
    font-size: 25px;
    color: white
}

#p3 {
    font-size: 25px;
    color: white
}

#p4 {
    font-size: 15px;
    color: white
}

img
{
    width:55px;
}

p{
    margin:0;
}

#p5
{
    color:red;
    font-size: 50px;
    text-align: center;
    background-color: aqua;
    margin-left: 50%;
    transform: translateX(-50%);
}